:root {
  --avatar: url('img/avataaars.png');
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  box-sizing: border-box;
}

.container {
  display: flex;
}

.container > * {
  border: 1px solid blue;
}

/* sidebar css */

.sidebar {
  flex-shrink: 0;
  width: 320px;
}

.dashboard {
  padding: 1rem;
}

h1{
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 1.5rem;
}

.dashboard .material-icons-outlined {
  font-size: 3rem;
}

.menu, .setting {
  padding: 2rem;
}

.menu nav,
.setting nav {
  display: grid;
  gap: 2rem;
}

.menu a,
.setting a{
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 1.25rem;
  text-decoration: none;
  transition: all 0.15s ease-out;
}

.menu .material-icons-outlined,
.setting .material-icons-outlined {
  font-size: 1.75rem;
}


.menu a:visited,
.setting a:visited {
  color: inherit;
}

.menu a:hover,
.setting a:hover{
  filter: drop-shadow(0 0 0.5rem white);
  transition: all 0.15s ease-in;
  transform: scale(1.1);
}

/* main content css */

.main {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.main > * {
  border: 1px dotted greenyellow;
}

/*header css*/

.header {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.header > * {
  border: 1px solid orange;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}

.topleft > #search {
  width: 75%;
  border: 1px solid #555;
  border-radius: 1rem;
  display: block;
  padding: 9px 4px 9px 40px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.picture {
  background: var(--avatar) center center / cover no-repeat;
  border-radius: 50%;
}

.topright {
  justify-content: end;
  gap: 1rem;
}

.topright > .picture {
  width: 50px;
  height: 50px;
}

.topright > button {
  background: transparent;
  border: none;
}

.bottomleft {
  gap: 1rem;
}

.bottomleft > .picture {
  width: 75px;
  height: 75px;
}

.bottomright {
  justify-content: end;
  gap: 1rem;
}

.bottomright > button {
  width: 20%;
  font-size: clamp(20px, 10%, 2rem);
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
}

/*content css*/

.content {
  flex: 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1rem;
  gap: 1rem;
}

.content > * {
  border: 1px solid tomato;
}

.projects {
  grid-row: 1 / 3;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 300px;
  gap: 1rem;
  padding: 1rem;
  overflow: auto;
}

.cards > * {
  border: 1px solid white;
}

.card {
  padding: 1rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}